.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  padding: 60px 0 40px;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

.footer__column {
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
  background-image: url(../../images/logo_place_footer.svg);
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.footer__list-item {
  list-style: none;
}

.footer__colunm-link {
  margin: 20px 0 16px;
  padding: 0;
}

.footer__social-icon {
  margin-right: 10px;
}
